/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

tr > td {
    padding-bottom: 5px;
}

.container {
    width: 95%;
    max-width: 1680px;
    margin: auto;
}

.selectedActor {
    border: 0.5em ridge seagreen;
    border-radius: 0.5em;
}

.selectedTarget {
    border: 0.5em ridge red;
    border-radius: 0.5em;
}

.deadText {
    color: red;
    font-weight: bold;
    height: 100%;
}

.characterDetails {
    padding: 0.25em;
}

.bulletlessList {
    list-style-type: none;
}

.VT323Font {
    font-family: 'VT323';
    font-size: 150%;
}

.VT323FontLarge {
    font-family: 'VT323';
    font-size: 140%;
}

.smallText {
    font-family: 'VT323';
    font-size: .75em;
}

.negativeTopMargin10 {
    margin-top: -10px;
}

.negativeTopMargin20 {
    margin-top: -20px;
}

.wideButton {
    width: 99%;
    height: 50px;
    border-radius: 5px
}

.background {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/cave.jpg) no-repeat 0 0, url(../img/cave.jpg) no-repeat center center;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7))), url(../img/cave.jpg)no-repeat center center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background-attachment:fixed;
    background-size: 100% 100%;
}

.foreground {
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
    border:2px solid;
}


.adjust-left {
    margin-right: 1.5em;
}

.adjust-right {
    margin-left: 1.5em;
}

.spacing-top {
    margin-top: 0.5em;
}

#launchBtn {
    margin-top: 10px;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,.8);
}

.calc-foreground {
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
    border: 2px solid;
    width: 400px;
    height: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -225px;
    z-index: 6;
    padding: 20px;
}

.info-panel {
    background-color: #0000FF;
    height: 100%;
}

.border-main {
    border: 0.5em ridge #c0c0c0;
    border-radius: 0.5em;
}

.avatar-size-sm {
    height: 150px;
    width: 150px;
    background: no-repeat center center;
    background-size: 100% 100%;
}

.health-bar-text {
    color:black;
    white-space:nowrap;
}