/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

button {
    width: 100%;
}

tr > td {
    padding-bottom: 5px;
}

.selectedActor {
    border: 3px solid seagreen;
}

.selectedTarget {
    border: 3px solid red;
}

.notSelected {
    border: 3px solid darkgray;
}

.deadText {
    color: red;
    font-weight: bold;
}

.characterDetails {
    padding: 10px;
}

.bulletlessList {
    list-style-type: none;
}

.VT323Font {
    font-family: 'VT323';
    font-size: 150%;
}

.negativeTopMargin10 {
    margin-top: -10px;
}

.negativeTopMargin20 {
    margin-top: -20px;
}



