/***********
Mobile Styles
***********/
.body {
    font-size: 100%;
    width: 100%;
}

.img {
    max-width: 100%;
    height: auto;
}

.video-img {
    max-width: 100%;
    height: auto;
}

.hide-element {
    display: none;
}

.show-element {
    display: inline;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    padding: 0 0 0.5em;
}

.avatar-size-sm {
    height: auto;
    width: 5em;
    position: relative;
    background: no-repeat center center;
    background-size: 100% 100%;
    z-index: 15;
}

/*.health-bar {*/
/*width: 95%;*/
/*}*/

.character-info {
    text-wrap: none;
    width: 95%;
    margin: -.75em 0 .75em 0;
}

.calc-foreground {
    background-color: #e2e2e2;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
    border: 2px solid;
    background-size: contain;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -213px;
    margin-top: -254px;
    z-index: 100;
    padding: 10px;
    max-width: 25em;
    overflow: hidden;
}

/****** End Mobile *****/

/***********
Tablet Styles
***********/
@media (min-width: 768px) {
    .avatar-size-sm {
        height: 6em;
        width: 6em;
        z-index: 5;
        background: no-repeat center center;
        background-size: 100% 100%;
    }

    .health-bar {
        width: 95%;
    }

    .character-info {
        text-wrap: none;
        width: 95%;
        margin: -.75em 0 .75em 0;
    }
}

/***** End Tablet *****/

/**********
Full-view Styles
***********/
@media (min-width: 1024px) {
    .container {
        width: 95%;
        max-width: 1680px;
        margin: auto;
    }

    .avatar-size-sm {
        height: 7.25em;
        width: 7.25em;
        background: no-repeat center center;
        background-size: 100% 100%;
    }

    .health-bar {
        width: 95%;
        height: 50px;
    }

    .character-info {
        text-wrap: none;
        width: 95%;
        margin: -.75em 0 .75em 0;
    }
}

/****** End Full-view ******/

/**********
Calculator
***********/

.btn3d {
    transition: all .08s linear;
    position: relative;
    outline: medium none;
    -moz-outline-style: none;
    border: 0px;
    margin-top: 8px;
    top: 0;
}

.btn3d:focus {
    outline: medium none;
    -moz-outline-style: none;
}

.btn3d:active {
    top: 9px;
}

.btn3d.btn-default {
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d.btn-primary {
    box-shadow: 0 0 0 1px #428bca inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d.btn-success {
    box-shadow: 0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d.btn-info {
    box-shadow: 0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d.btn-warning {
    box-shadow: 0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d.btn-danger {
    box-shadow: 0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c24032, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn3d:active.btn-default {
    box-shadow: none;
}

.btn3d:active.btn-primary {
    box-shadow: none;
}

.btn3d:active.btn-success {
    box-shadow: none;
}

.btn3d:active.btn-info {
    box-shadow: none;
}

.btn3d:active.btn-warning {
    box-shadow: none;
}

.btn3d:active.btn-danger {
    box-shadow: none;
}

.btn3d {
    width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}
/***** End Calculator *****/


/**********
Character Card Detail
***********/

.char-card-foreground {
    background-color: #e2e2e2;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
    border: 2px solid;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -267px;
    margin-top: -254px;
    z-index: 6;
    padding: 20px;
    width: auto;
}

.overflow {
    overflow-y: scroll;
}

.sprite-border {
    border: 1px ridge #c0c09e;
    border-radius: 0.5em;
    box-shadow: 0px 0px 12px #1825f7;
    -moz-box-shadow: 0px 0px 12px #1825f7;
    -webkit-box-shadow: 0px 0px 12px #1825f7;
}



/*.enemy-red {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px red,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.enemy-blue {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px blue,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.enemy-yellow {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px yellow,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.enemy-green {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px green,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.enemy-orange {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px orange,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.enemy-purple {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px black,*/
/*0 20px 20px -15px purple,*/
/*0 30px 30px -14px silver;*/
/*}*/

/*.char-red {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px silver,*/
/*0 20px 20px -15px red,*/
/*0 30px 30px -14px black;*/
/*}*/

/*.char-blue {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -30px silver,*/
/*0 20px 20px -2px blue,*/
/*0 30px 30px -20px black;*/
/*}*/

/*.char-yellow {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px silver,*/
/*0 20px 20px -15px yellow,*/
/*0 30px 30px -14px black;*/
/*}*/

/*.char-purple {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px silver,*/
/*0 20px 20px -15px purple,*/
/*0 30px 30px -14px black;*/
/*}*/

/*.char-green {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -16px silver,*/
/*0 20px 20px -15px green,*/
/*0 30px 30px -14px black;*/
/*}*/

/*.char-orange {*/
/*border-radius: 100px;*/
/*box-shadow:*/
/*0 10px 10px -14px silver,*/
/*0 20px 20px -12px orange,*/
/*0 30px 30px -10px black;*/
/*}*/
/***** End Character Card Detail *****/

.menu:before {
    content: '[';
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

tr > td {
    padding-bottom: 5px;
}

.deadText {
    color: red;
    font-weight: bold;
    height: 100%;
}

.characterDetails {
    padding: 0.25em;
}

.bulletlessList {
    list-style-type: none;
}

.VT323Font {
    font-family: 'VT323';
    font-size: 150%;
}

.VT323FontLarge {
    font-family: 'VT323';
    font-size: 140%;
}

.smallText {
    font-family: 'VT323';
    font-size: .75em;
}

.negativeTopMargin10 {
    margin-top: -10px;
}

.negativeTopMargin20 {
    margin-top: -20px;
}

.wideButton {
    width: 99%;
    height: 50px;
    border-radius: 5px
}

.background {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../img/cave.jpg) no-repeat 0 0, url(../img/cave.jpg) no-repeat center center;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat 0 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7))), url(../img/cave.jpg) no-repeat center center;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url(../img/cave.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.foreground {
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
    border: 2px solid;
}

.adjust-left {
    margin-right: 1.5em;
}

.adjust-right {
    margin-left: 1.5em;
}

.spacing-top {
    margin-top: 0.5em;
}

#launchBtn {
    margin-top: 2px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 12px #1825f7;
    -moz-box-shadow: 0px 0px 12px #1825f7;
    -webkit-box-shadow: 0px 0px 12px #1825f7;

}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, .8);
}

.border-main {
    border: 0.5em ridge #c0c0c0;
    border-radius: 0.5em;
}

.border-left {
    border-left: 0.5em ridge #c0c0c0;
}

.border-top {
    border-top: 0.5em ridge #c0c0c0;
}

.border-bottom {
    border-bottom: 0.5em ridge #c0c0c0;
}

.border-right {
    border-right: 0.5em ridge #c0c0c0;
}

.health-bar-text {
    color: #000000;
    white-space: nowrap;
    font-size: 3em;
}

.char-info-icon {
opacity: 0.6;
color: blue;
border: black 3px solid;
border-radius: 20px;
}

.character-info-icon:hover{
opacity: 1;
}

.sm-margin {
    margin: .25em;
}

.sm-padding {
    padding: 5px;
}

/***************
 Character Color
 ***************/


/**** Resting State ****/

@-webkit-keyframes pulsate {
  from {
    opacity: .1;
  }
  to {
    opacity: .3;
  }
}

@-moz-keyframes pulsate {
  from {
    opacity: .1;
  }
  to {
    opacity: .3;
  }
}

@keyframes pulsate {
  from {
    opacity: .1;
  }
  to {
    opacity: .3;
  }
}

.char-base {
    height: 50px;
    width: 100px;
    border-radius: 100%;
    z-index:1;
    position: relative;
    margin: -30px 0 0 25px;
    opacity: .5;
     -webkit-animation: pulsate 2s infinite alternate;
     -moz-animation: pulsate 2s infinite alternate;
     -animation: pulsate 2s infinite alternate;
}


/**** Selected State ****/

.selectedActor {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow:
            0 10px 10px -10px silver,
            0 20px 20px -8px green,
            0 30px 30px -6px black;
    border-radius: 15px;
}

/**** End Character Color ****/

.ng-enter,
.ng-leave {
    -webkit-transition: all linear 0.25s;
    transition: all linear 0.25s;
}

.ng-enter.ng-enter-active,
.ng-leave {
    opacity: 1;
}

.ng-leave.ng-leave-active,
.ng-enter {
    opacity: 0;
}

.create-character-input {
    margin-bottom: 10px;
}