<div class="container-fluid">
    <div class="nav col-md-4">
        <div class="pull-left">
            <!--<button popover-template="partials/popover.html" popover-placement="right">fghj</button>-->
            <ul ng-repeat="player in game.players">
                <character-card character="player" selections="selections"
                                ng-click="makeSelection(player)"></character-card>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="text-center VT323FontLarge" ng-show="!selections.activeActor">
            Select a character to attack with.
        </div>

        <div class="text-center VT323FontLarge" ng-show="selections.activeActor && !selections.activeTarget">
            Select a target to attack or heal.
        </div>

        <calculator player="selections.activeActor"
                    enemy="selections.activeTarget"
                    callback="dealDamage(damage, character)"
                    ng-show="selections.activeActor && selections.activeTarget">
        </calculator>
    </div>

    <div class="nav col-md-4">
        <div class="pull-right">
            <ul ng-repeat="enemy in game.enemies">
                <character-card character="enemy" selections="selections"
                                ng-click="makeSelection(enemy)"></character-card>
            </ul>
        </div>
    </div>
</div>

<!--<form ng-submit="addMessage();">-->
<!--<input type="text" ng-model="message"/>-->
<!--<input type="submit" value="Send Message"/>-->
<!--</form>-->

<!--<input type="text" ng-model="game.text"/>-->
<!--<h1>You said: {{text}}</h1>-->
