<div class="row">
    <div class="col-md-4" ng-click="">
        <!--<button popover-template="partials/popover.html" popover-placement="right">fghj</button>-->
        <ul ng-repeat="player in game.players">
            <character-card character="player" ng-click="selectedPlayer(player)"></character-card>
        </ul>
    </div>

    <div class="col-md-4">

        <div ng-show="!activePlayer">
            Select a player to attack with.
        </div>

        <div ng-show="!activeEnemy">
            Select an enemy to attack.
        </div>

        <calculator player="activePlayer"
                    enemy="activeEnemy"
                    callback="dealDamage(damage, character)"
                    ng-show="activePlayer && activeEnemy">
        </calculator>
    </div>

    <div class="col-md-4">
        <ul ng-repeat="enemy in game.enemies">
            <character-card character="enemy" ng-click="selectedEnemy(enemy)"></character-card>
        </ul>
    </div>
</div>

<!--<form ng-submit="addMessage();">-->
<!--<input type="text" ng-model="message"/>-->
<!--<input type="submit" value="Send Message"/>-->
<!--</form>-->

<!--<input type="text" ng-model="game.text"/>-->
<!--<h1>You said: {{text}}</h1>-->
