<p class="text-center ">{{attackData.action}} {{enemy.name}} with {{player.name}}</p>

<table>
    <tr>
        <td class="col-md-4">
            <input ng-model="attackData.attackValue" type="text" disabled="disabled"/>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="clear()">Clear</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-class="{'btn-success': attackData.heal}" ng-click="heal()">Heal</button>
        </td>
    </tr>
    <tr class="top-buffer">
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 1.25;">+25%</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 1.4;">+40%</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 1.5;">+50%</button>
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 7;">7</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 8;">8</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 9;">9</button>
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 4;">4</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 5;">5</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 6;">6</button>
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 1;">1</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 2;">2</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 3;">3</button>
        </td>
    </tr>
    <tr>
        <td class="col-md-4">
            <button class="btn" ng-click="attackData.attackValue = attackData.attackValue * 10 + 0;">0</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-click="crit()" ng-class="{'btn-success': attackData.crit}">Crit</button>
        </td>
        <td class="col-md-4">
            <button class="btn" ng-class="{'btn-primary': attackData.attackValue}" ng-click="attack()">{{buttonText()}}</button>
        </td>
    </tr>
    <tr>
        <td class="col-md-4"></td>
        <td class="col-md-4">
            <button class="btn" ng-click="cancel()">Cancel</button>
        </td>
        <td class="col-md-4"></td>
    </tr>
</table>