<div ng-click="cancel()" class="modal-background">
</div>

<div class="char-card-foreground">
    <div>
        <li class="bulletlessList"
            ng-class="{'selectedActor': selections.activeActor.id == character.id}">
            <div class="characterDetails">
                <div class="col-sm-1 col-xs-2" style="height: 100%"></div>
                <div class="col-sm-4 col-xs-8">
                    <img src="{{ character.sprite }}" class="sprite-border">

                    <p>{{ character.name }}</p>

                    <p><label>Race:</label> {{ character.race.name }}</p>

                    <label>HP:</label>

                    <span style="color:black; white-space:nowrap;">{{ character.health }} / {{ character.maxHealth }}</span>

                    <p><label>Nationality:</label> {{ character.nationality.name }}</p>

                    <p><label>Class:</label> {{ character.character_class.name }}</p>

                    <div class="hidden-lg hidden-md hidden-sm">
                        <div>
                            <label>Skills:</label>

                            <p ng-repeat="skill in character.skills track by $index">
                                {{ skill.name }}
                            </p>
                            <label>Inventory:</label>

                            <p ng-repeat="item in character.inventory track by $index">
                                {{ item.name }}
                            </p>
                            <label>Weapons:</label>

                            <p>{{ character.weapon.name }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-5">
                    <div class="vertical">
                        <div class="col-sm-4 hidden-xs">

                            <div>
                                <label>Skills:</label>

                                <p ng-repeat="skill in character.skills track by $index">
                                    {{ skill.name }}
                                </p>
                                <label>Inventory:</label>

                                <p ng-repeat="item in character.inventory track by $index">
                                    {{ item.name }}
                                </p>
                                <label>Weapons:</label>

                                <p>{{ character.weapon.name }}</p>
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-2"></div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>