<div class="characterDetails text-center">

    <div ng-controller="RoleCtrl"
         ng-class="{'selectedActor': selections.activeActor.id == character.id,
               'selectedTarget': selections.activeTarget.id == character.id,
               'notSelected': selections.activeActor.id != character.id && selections.activeTarget.id != character.id}">

        <div class="avatar-size-sm"

             ng-show="character.health > 0"
             ng-style="{'background-image': 'url(' + character.sprite + ')'}">
            <!--<p>Health: {{character.health}} / {{ character.maxHealth }}</p>-->
        </div>

        <div class="avatar-size-sm"

             ng-show="character.health <= 0"
             style="background-image: url(img/gravestone.png)">
        </div>

        <progressbar ng-show="Role.role == 'Game Master'"
                     class="health-bar"
                     max="character.maxHealth"
                     value="character.health"
                     type="{{ healthBarType() }}">
            <span class="health-bar-text">{{ character.health }} / {{ character.maxHealth }}</span>
        </progressbar>

        <div class="btn-default character-info border-main" ng-click="setCharacterDetail($event,character)">
            <span>{{ character.name }}
                <!--<span class="glyphicon glyphicon-info-sign pull-right char-info-icon"></span>-->
            </span>
        </div>

        <!--<p class="negativeTopMargin20">Class: {{character.class}}</p>-->
    </div>

</div>
