<div class="container">
    <div class="col-lg-4">
         <tabset vertical="true" type="pills">
            <tab ng-click="selectGame(game)" heading="{{ game.name }}" ng-repeat="game in games track by $index"></tab>
        </tabset>
    </div>
    <div class="col-lg-4">
        <tabset vertical="true" type="pills">
            <tab ng-click="selectChapter(chapter)" heading="{{ chapter.name }}" ng-repeat="chapter in game.chapters track by $index"></tab>
        </tabset>
    </div>
    <div class="col-lg-4">
        <tabset vertical="true" type="pills">
            <tab ng-click="selectScenario(scenario)" heading="{{ scenario.name }}" ng-repeat="scenario in chapter.scenario track by $index"></tab>
        </tabset>
    </div>
</div>