<div class="container-fluid">

    <div class="col-md-3">
        <label>Encounters</label>
        <tabset vertical="true" type="pills">
            <tab ng-click="selectEncounter(encounter)" heading="{{ encounter.name }}"
                 ng-repeat="encounter in encounters track by $index">
                <button id="launchBtn" class="btn-primary btn-lg" ng-click="launchEncounter(encounter)">Launch
                    Encounter
                </button>
            </tab>
        </tabset>
    </div>

    <div class="col-md-3" ui-on-drop="onDrop($event,$data,items)">
        <label>Items</label>

        <div ng-show="items.length">
            <ul class="sprite-border">
                <li ui-draggable="true" drag="item"
                    on-drop-success="dropSuccessHandler($event,$index,items)"
                    ng-repeat="item in items track by $index" class="list-unstyled">{{ item.name }}
                </li>
            </ul>
        </div>
    </div>


    <div class="col-md-3">
        <label>Characters</label>

            <div ng-repeat="character in characters track by $index" class="sprite-border" ui-on-drop="onDrop($event,$data,character.inventory)">
                <p class="text-center">{{ character.name }}</p>
                <img class="center-block" src="{{ character.sprite }}">
                <ul class="list-unstyled">
                    <li ui-draggable="true" drag="item"
                        on-drop-success="dropSuccessHandler($event,$index,character.inventory)"
                        ng-repeat="item in character.inventory track by $index">{{ item.name }}
                    </li>
                </ul>
            </div>
    </div>

    <div class="col-md-3">
        <label>Players</label>


            <div ng-repeat="player in players track by $index" class="sprite-border" ui-on-drop="onDrop($event,$data,player.inventory)">
                <p class="text-center">{{ player.name }}</p>
                <img class="center-block" src="{{ player.sprite }}">

                <ul class="list-unstyled">
                    <li ui-draggable="true" drag="item"
                        on-drop-success="dropSuccessHandler($event,$index,player.inventory)"
                        ng-repeat="item in player.inventory track by $index">
                    {{ item.name }}></li>
                </ul>
            </div>
    </div>

</div>